header{
background-color:#45B39D;
padding: 30px;
color: white;
text-align: center;
 }

nav ul{
list-style-type: none;
margin: 0;
padding: 0;
}

nav ul li{
display: inline;
margin-right: 30px;
}

nav ul li a{
color: white;
text-decoration: none;
}

section{
padding: 30px;
margin-bottom: 30px;
background-color: #fff;
}

h1,h2,h3{
color:#212F3C;
}

footer{
background-color: #333;
color: white;
text-align: center;
padding: 30px;
}

body{
background-color:#82E0AA;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
color: #FFFFFF;
}

div{
	background-color:#45B39D;
	border-radius: 15px;
}

p{
	color:#212F3C;
}
